{{ define "main" }}
<img src='zach-greeting.jpg' alt='zach greeting you' style="max-width: 35%; float: right;">
<p>Hello!</p>
<p>I'm Zach, a passionate Software Engineer who carefully crafts maintainable code that is secure, efficient, and actually delivers.</p>
<p>Outside of work I spend my time <code>sudo pacman -Syu</code>ing my personal devices, hanging out with my wife, designing and 3D printing knick-knacks, handwiring microcontrollers for keyboards, and of course being bad at video games.</p>
<p></p>
{{ end }}
